<template>
    <div style="background-color: white; padding: 2em;">
        <span style="color:#aaa; font-size: 0.9em;">Lightning Web Component Version</span>
        <br><br>
        <lightning-file-upload
        label="Parse XML File"
        name="fileUploader"
        accept=".xml"
        record-id={recordId}
        onuploadfinished={handleUploadFinished}
        >
        </lightning-file-upload>
        <div>
            <br/>
            <div if:true={parseListNotEmpty}>
                SERVER RESPONSE:<br/><br/>   
                <template for:each={parseList} for:item='quoteItem'>
                    <div key={quoteItem.productCode}>
                        Product Code: {quoteItem.productCode}<br>
                        Quantity: {quoteItem.quantity}<br><br>
                    </div>
                </template>
            </div>
        </div>
    </div>
</template>