<template>
  <c-lookup object-name="Account" field-api-text="Name" field-api-val="Id" limit="5" field-api-search="Name"
    lookup-icon="standard:account" placeholder="Search Accounts..." onselectionchange={handleSelectionChange}>
  </c-lookup>
</template>