<template>
    <div style="background-color:white; padding: 2em; border-radius: 0.25rem">
        <span style="color:#aaa; font-size: 0.9em;">Einstein Predictive Services Test</span>
        <br><br>
        <lightning-file-upload
        label="Upload Image"
        name="fileUploader"
        record-id={recordId}
        onuploadfinished={handleUploadFinished}
        ></lightning-file-upload>

        <div if:true={predictionExists} style="margin-top:1em;">
            {prediction}
        </div>
    </div>
</template>