<template>
  <div class="slds THIS">
    <div class="slds-form-element" id="multiselect">
      <div class="slds-form-element__control">
        <div class="slds-combobox_container slds-has-inline-listbox">
          <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open" aria-expanded="true"
            aria-haspopup="listbox" role="combobox" style="width:95%">
            <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right"
              style="display:flex;">
              <div class="selectionContainer" style="width: -webkit-fill-available; color: #706e6b;">
                <div if:true={selectedItemsEmpty}>
                  <span class="slds-pill slds-pill_link fullWidth" style="width:100%; padding: 5px 10px;">
                    {placeholder}
                  </span>
                </div>

                <div if:false={selectedItemsEmpty}>
                  <template for:each={selectedItems} for:item="item">
                    <span class="slds-pill slds-pill_link fullWidth" key={item}>
                      <a href="javascript:void(0);" class="slds-pill__action slds-p-left_x-small" title={item}>
                        <span class="slds-pill__label slds-p-left_x-small">{item}</span>
                      </a>
                      <button class="slds-button slds-button_icon slds-button_icon slds-pill__remove" title="Remove"
                        data-itemname={item} onclick={removeSelection}>
                        <lightning-icon icon-name="utility:close" size="small"
                          alternative-text="Press delete or backspace to remove" style="pointer-events:none;">
                        </lightning-icon>
                        <span class="slds-assistive-text">Remove</span>
                      </button>
                    </span>
                  </template>
                </div>
              </div>
              <div style="min-width: 45px;">
                <div if:false={remainingPickvalsEmpty} style="display: inline;">
                  <button onclick={toggleSelection}
                    class="slds-button slds-button_icon slds-button_icon slds-pill__remove expandButton"
                    title={placeholder} style="vertical-align: top; margin-top: 0.5em;">
                    <div style="transform: scale(0.5);">╲╱</div>
                    <span class="slds-assistive-text">{placeholder}</span>
                  </button>
                </div>

                <button onclick={clearSelections}
                  class="slds-button slds-button_icon slds-button_icon slds-pill__remove expandButton"
                  title="Clear Selection" style="vertical-align: top; margin-top: 0.5em;">
                  <div style="color: #999895;">⟳</div>
                  <span class="slds-assistive-text">Clear Selection</span>
                </button>
              </div>
            </div>

            <div if:true={remainingPickvalsAndExpanded} style="height: 0;">
              <div id="listbox-unique-id" role="listbox">
                <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation"
                  style="display: block; min-width: auto; max-width: 100% ; width: 100%;">
                  <template for:each={remainingPickvals} for:item="item">
                    <li role="presentation" class="slds-listbox__item" key={item} data-itemname={item}
                      style="cursor: pointer;" onclick={itemSelected}>
                      <span class="slds-media slds-listbox__option slds-listbox__option_entity 
                                             slds-listbox__option_has-meta" role="option"
                        style="pointer-events: none;">
                        <span class="slds-media__figure optionIcon">
                          <span class="slds-icon_container"> </span>
                        </span>
                        <span class="slds-media__body singleRow">
                          <span class="optionTitle slds-listbox__option-text 
                                                     slds-listbox__option-text_entity">{item}</span>
                        </span>
                      </span>
                    </li>
                  </template>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>