.THIS {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}
.THIS li:hover {
  background: #f3f2f2;
}
.THIS .expandButton:hover {
  background-color: #f3f2f2;
}
.THIS .slds-pill:hover {
  background-color: unset;
}
.THIS .slds-pill {
  margin-bottom: 1px;
  margin-left: var(--lwc-spacingXxxSmall, 0.125rem);
  margin-top: 2px;
}
