<template>
    <div class="slds THIS">      
        <div class="slds-form-element"> 
            <div class="slds-form-element__control">
                <div class="slds-combobox_container slds-has-inline-listbox">
                    <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open" 
                         aria-expanded="true" aria-haspopup="listbox" role="combobox" style="width:95%">
                        <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right">
                            <div if:true={selItemIsEmpty}> 
                                <input type="text" class="slds-input slds-combobox__input" style="line-height: 2;" id="combobox-unique-id" 
                                aria-activedescendant="listbox-option-unique-id-01" aria-autocomplete="list" 
                                aria-controls="listbox-unique-id" autocomplete="off" role="combobox" 
                                placeholder={placeholder}
                                onkeyup={serverCall}></input>
                            </div>
                            <div if:false={selItemIsEmpty}>
                                <span class="slds-pill slds-pill_link fullSize"> 
                                    <a href="javascript:void(0);" 
                                        class="slds-pill__action slds-p-left_x-small" title={selItem.text} style="height: 28px;">
                                        <lightning-icon icon-name={lookupIcon} size="x-small"></lightning-icon>
                                        <span class="slds-pill__label slds-p-left_x-small" style="vertical-align: middle;">{selItem.text}</span>
                                    </a>
                                    <button onclick={clearSelection}
                                            class="slds-button slds-button_icon slds-button_icon slds-pill__remove" 
                                            title="Remove">
                                        <lightning-icon icon-name="utility:close" size="small" 
                                                        alternative-text="Press delete or backspace to remove"></lightning-icon>
                                        <span class="slds-assistive-text" >Remove</span>
                                    </button>
                                </span> 
                            </div>

                            <div id="listbox-unique-id" if:true={resultNotNull}>
                                <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation"
                                    style="display: block; min-width: auto; max-width: 100% ; width: 100%;">                                    
                                    <template for:each={server_result} for:item='item'>
                                        <li key={item.id} role="presentation" class="slds-listbox__item" 
                                            onclick={itemSelected} data-itemval={item.val}>
                                            <span class="slds-media slds-listbox__option slds-listbox__option_entity 
                                                        slds-listbox__option_has-meta" style="padding: 0.6em;"
                                                        role="option">
                                                <span class="slds-media__figure optionIcon">
                                                    <span class="slds-icon_container" >
                                                        <lightning-icon icon-name={lookupIcon} size="small"></lightning-icon>
                                                        <span class="slds-assistive-text">{objectName}</span>
                                                    </span>
                                                </span>
                                                <span class="slds-media__body singleRow">
                                                    <span class="optionTitle slds-listbox__option-text 
                                                                 slds-listbox__option-text_entity">{item.text}</span>
                                                </span>
                                            </span>
                                        </li>
                                    </template>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div> 
</template>