.THIS{
    width:100%;
    height: 40px;
}

.THIS .fullSize{
    width:100%;
	height: 30px;    
}

.THIS .slds-listbox__item:hover {
    background: #d8edff;
    text-shadow: none;
    color: #16325c;
}

.THIS .slds-pill {
	padding: 1px 0 !important;
}

.THIS .optionParent1{
    line-height: 1.5;
    padding: 0.25rem 0.75rem;
    font-size: 0.8125rem;
}

.THIS .optionIcon {
    margin-top: 0rem;
}

.THIS .optionTitle {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-bottom: 0.125rem;
}

.THIS .optionline {
    display: block;
    margin-top: -0.25rem;
    color: #54698d;
}

.THIS .singleRow {
    padding-top:2px;
}

.THIS .hide {
    display:none;
}