<template>
  <div style="padding: 1em; border: 1px solid #DDDBDA; border-radius: 4px;">
    <div style="font-size: 1.1em;">
      <span if:true={selectedItemsNotEmpty}>
        Received inputs in container:
      </span>
      <span if:false={selectedItemsNotEmpty}>
        No items selected
      </span>
    </div>
    <br>
    <template for:each={selectedPickvals} for:item="item">
      <div key={item}>-{item}</div>
    </template>
    <hr>

    <label class="slds-form-element__label">
      <abbr class="slds-required" title="required">* </abbr>
      Select Case Statuses
    </label>
    <c-Multipicklist object-name="Case" field-api-name="Status" placeholder="Select Case Statuses..."
      onselectionchange={handleMultipicklistChange}>
    </c-Multipicklist>
  </div>
</template>